@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}
/* shared styles */
.display-flex {
  display: flex;
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
  /* font-size: 1.25px; */
  font-weight: 600;
  /* rgba(255, 144, 14, 1) */
  /* rgba(255, 255, 255, 1) */
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* navbar styles */
.navbar {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}
.nav-list-item {
  list-style: none;
  margin-right: 30px;
}
.dark-2 {
  text-decoration: none;
  font-weight: 500;
  color: #424242;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner styles */
.banner-content {
  min-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  color: rgba(19, 19, 19, 1);
  font-size: 64px;
  font-weight: 700;
  font-style: bold;
}
.banner-description {
  color: rgba(114, 114, 114, 1);
}

.banner-image {
  width: 100%;
}

/* team and feature */


.teams{
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.team-img-container {
  flex: 0 0 50%;
  /* display: grid; */
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.team-feature-container {
  flex: 0 0 50%;
  margin-left: 130px;
  }
  .text-part-1{
    color: #727272;
  }
  .feature-description text-part-1{
    color: #727272;
  }
  .feature-title{
    font-size: 45px;
    font-weight: 400;
  }
  .text-part-2{
    color: rgba(19, 19, 19, 1);
  }
  .text-part-3{
    color: rgba(255, 144, 14, 1);
  }
  .feature-enjoy-title{
    color: rgba(19, 19, 19, 1);
    font-style: bold;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;

  }
  .feature-enjoy-description{
    color: #727272;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
  }
 .feature-enjoys{
    gap: 50px;
 }
            
  
.feature-love-enjoy{
 box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
 background: rgba(255, 255, 255, 1);
 border-radius: 8px;
}
.feature-enjoy-img-container{
    border-radius: 8px;
    width: 708px;
    height: 982px;
}
.btn-primary-two{
     border-radius: 4px;
     background: rgba(255, 144, 14, 1);
     color: white;
     border: none;
     font-style: normal;
     font-size: 26px;
     font-weight: 400;
     line-height: 26px;
     padding: 20px 25px;
}





/* responsive styles*/
@media screen and (max-width: 576px) {
  .navbar,
  .nav-list {
    flex-direction: column;
  }
  
  .teams{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-feature-container{
    margin-left: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .team-feature-container{
        margin: 50px auto;
    }
}

/* recommendation 

1. meaning full class name nite hobe section er sathe mel rekhe
2. html , css e style er upore note naoyar jonno command => control+/
3. flex,grid video->youtube learn with sumit

*/
