
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/* shared styles */
.display-flex{
    display: flex;
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-list-item{
    list-style:none;
    margin-right: 30px;
}
.dark-2{
    text-decoration: none;
    font-weight: 500;
    color: #424242;
}
.navbar,.banner{
 max-width: 1440px;
 margin: 0 auto;
}