
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/* shared styles */
.display-flex{
    display: flex;
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color:  rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: none ;
    padding: 20px 25px;
    /* font-size: 1.25px; */
    font-weight: 600;
    /* rgba(255, 144, 14, 1) */
/* rgba(255, 255, 255, 1) */
}
/* navbar styles */
.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.nav-list-item{
    list-style:none;
    margin-right: 30px;
}
.dark-2{
    text-decoration: none;
    font-weight: 500;
    color: #424242;
}
.navbar,.banner{
 max-width: 1440px;
 margin: 0 auto;
}
/* banner styles */
.banner-content{
     min-width: 860px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 50px;
}
.banner-title{
    color: rgba(19,19,19,1);
    font-size: 64px;
    font-weight: 700;
    font-style: bold;
}
.banner-description{
    color: rgba(114,114,114,1);
}
            
.banner-image{
    width: 100%;
}
@media screen and (max-width: 576px) {
   .navbar, .nav-list{
    flex-direction: column;
   }
}